<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome to balena!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <script src="main.js"></script>
</head>
<body>
  <div class = "container">
    <div class = "column col-6 p-centered">
      <h1>Welcome to balena!</h1>
      <p>Now that you've deployed code to your device, explore the resources below to continue on your journey!</p>
      <div class="divider text-center" data-content="Next steps"></div>
      <div class="timeline">
        <div class="timeline-item" id="timeline-balena-docs">
          <div class="timeline-left">
            <a class="timeline-icon" href="#timeline-balena-docs"></a>
          </div>
          <div class="timeline-content">
            <h5>Read our documentation</h5>
            <ul>
              <li>Learn how balena works behind the scenes</li>
              <li>Run multiple containers in your application</li>
              <li>Speed up development with local development mode</li>
              <li>Deploy device configurations across your fleet</li>
              <li>And much more!</li>
            </ul>
            <a class = "btn btn-primary" href = "https://www.balena.io/docs">Explore the balena documentation</a>
          </div>
        </div>

        <div class="timeline-item" id="timeline-balena-support">
          <div class="timeline-left">
            <a class="timeline-icon" href="#timeline-balena-support">
            </a>
          </div>
          <div class="timeline-content">
            <h5>Get additional help</h5>

            <p>Need to ask a question or get product support?</p>
            <a class="btn btn-primary" href="https://forums.balena.io/">Visit our forums</a>
            <a class="btn btn-primary" href="https://www.balena.io/contact-sales/">Contact sales</a>
            <a class="btn btn-primary" href="https://www.balena.io/support/">Learn about balena support</a>
          </div>
        </div>

        <div class="timeline-item" id="timeline-projects">
          <div class="timeline-left">
            <a class="timeline-icon" href="#timeline-projects">
            </a>
          </div>
          <div class="timeline-content">
            <h5>Discover more balena project ideas</h5>

            <p>Find inspiration for what to build next</p>
            <a class="btn btn-primary" href="https://github.com/balena-io-playground">GitHub playground</a>
            <a class="btn btn-primary" href="https://github.com/balena-io-projects">GitHub projects</a>
            <a class="btn btn-primary" href="https://forums.balena.io/c/projects">Projects in our forums</a>
          </div>
        </div>
    </div>
  </div>
</body>
</html>
