<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome to Balena!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <script src="main.js"></script>
</head>
<body>
  <div class = "container">
    <div class = "column col-6 p-centered">
      <h1>Welcome to Balena!</h1>
      <p>Now that you've connected your first device, explore the resources below to continue on your IoT journey!</p>
      <div class="divider text-center" data-content="Next steps"></div>
      <div class="timeline">
        <div class="timeline-item" id="timeline-balena-docs">
          <div class="timeline-left">
            <a class="timeline-icon" href="#timeline-balena-docs"></a>
          </div>
          <div class="timeline-content">
            <h5>Read the Balena documentation</h5>
            <ul>
              <li>Multi-container strategies</li>
              <li>Speed up development with local development mode</li>
              <li>Deploy device configurations across your fleet</li>
              <li>Manage your account</li>
            </ul>
            <a class = "btn btn-primary" href = "https://www.balena.io/docs">Explore the Balena Documentation</a>
          </div>
        </div>
      
        <div class="timeline-item" id="timeline-balena-youtube">
          <div class="timeline-left">
            <a class="timeline-icon" href="#timeline-balena-youtube">
            </a>
          </div>
          <div class="timeline-content">
            <h5>Check out the Balena YouTube channel</h5>

            <p>Watch for new training videos to help you get started and make the most of the Balena platform.</p>
            <a class = "btn btn-primary" href = "https://www.youtube.com/channel/UCEFvSZzQjGfu387QQ3fUtfA/videos">Visit our YouTube Channel</a>
          </div>
        </div>

        <div class="timeline-item" id="timeline-balena-support">
          <div class="timeline-left">
            <a class="timeline-icon" href="#timeline-balena-support">
            </a>
          </div>
          <div class="timeline-content">
            <h5>Get additional help</h5>

            <p>Need to ask a question or get product support?</p>
            <a class = "btn btn-primary" href = "https://forums.balena.io/">Ask a Question</a>
            <a class = "btn btn-primary" href = "https://www.balena.io/contact-sales/">Contact Sales</a>
            <a class = "btn btn-primary" href = "https://www.balena.io/support/">Balena Support</a>
          </div>
        </div>

        <div class="timeline-item" id="timeline-launch">
            <div class="timeline-left">
              <a class="timeline-icon" href="#timeline-launch">
              </a>
            </div>
            <div class="timeline-content">
              <h5>Launch your product</h5>
  
              <p>With Balena's help, your product launch can start right away!</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</body>
</html>