html, body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  background-color: #f8f9fd;
}

.header {
  height: auto;
  background-color: #527699;
}

.title {
  color: #2a506f;
  font-size: 24px;
}

.h1, h1 {
  color: #2a506f;
  font-size: 58px;
  line-height: 70px;
  letter-spacing: 0.1px;
}

.box {
  padding: .75rem;
  width: 62%;
  margin: 1vw 0;
  text-align: center;
}

.box ul {
  text-align: left;
  display: inline-block;
}

.button {
  height: 38px;
  white-space: nowrap;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;

  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1.25em;
  margin-bottom: .75em;
  padding: 4px 30px;
  line-height: 1.5;
  border-radius: 20px;
  background-color: #00aeef;
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #009dd7;
}

a {
  text-decoration: none;
  color: #00aeef;
}

a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #009dd7;
}

.separator {
  color: #bbc8d6;
  margin: 0 0.3em;
}

canvas {
  display: block;
  position: absolute;
  z-index: 1;
  pointer-events: none;

}
